In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity

In [2]:
df_train = pd.read_csv('train.csv')
df_train.head()

   User  Track  Rating
0     1      0      27
1     4      0      10
2     8      0      30
3    10      0      30
4    11      0      14

In [7]:
#Import the train_test_split function
from sklearn.model_selection import train_test_split

#Assign X as the original ratings dataframe and y as the user_id column of ratings.
X = df_train.copy()
y = df_train['User']

#Split into training and test datasets, stratified along user_id
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state=42)
print(X_train.shape)
print(X_test.shape)

(113249, 3)
(37750, 3)

In [9]:
data_matrix = X_train.pivot(index='User', columns='Track', values='Rating').fillna(9999)
data_matrix.shape

(44734, 184)

In [10]:
data_matrix.head(5)

Track,0,1,2,3,4,5,6,7,8,9,...,174,175,176,177,178,179,180,181,182,183
User,,,,,,,,,,,,,,,,,,,,,
0,9999.0,32.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
1,9999.0,9999.0,9999.0,49.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
3,9999.0,28.0,30.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
4,10.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0
6,9999.0,54.0,9999.0,48.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,...,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0,9999.0

In [11]:
from sklearn.metrics.pairwise import pairwise_distances 
user_similarity = pairwise_distances(data_matrix, metric='cosine')

In [12]:
user_similarity.shape

(44734, 44734)

In [17]:
user_similarity[0][1]

0.005420307243188982

In [22]:
df_train.head()

   User  Track  Rating
0     1      0      27
1     4      0      10
2     8      0      30
3    10      0      30
4    11      0      14

In [19]:
def getRecommendations(df_train, person):
    '''
    Gets recommendations for a person by using a weighted average
    of every other user's rankings
    '''

    totals = {}
    simSums = {}
    for other in df_train['User']:
    # Don't compare me to myself
        if other == person:
            continue
        sim = user_similarity[person][other]
        # Ignore scores of zero or lower
        if sim <= 0:
            continue
        for item in df_train.loc[other, 'Track']:
            # Only score movies I haven't seen yet
            if item not in df_train['User'] or df_train.loc[other, item] == 0:
                # Similarity * Score
                totals.setdefault(item, 0)
                # The final score is calculated by multiplying each item by the
                #   similarity and adding these products together
                totals[item] += prefs[other][item] * sim
                # Sum of similarities
                simSums.setdefault(item, 0)
                simSums[item] += sim
    # Create the normalized list
    rankings = [(total / simSums[item], item) for (item, total) in
                totals.items()]
    # Return the sorted list
    rankings.sort()
    rankings.reverse()
    return rankings